@mixin font($font-size: 22, $line-height: 24, $font-weight: 400, $font-style: normal)
	font-size: $font-size+px
	line-height: $line-height+px
	font-weight: $font-weight
	font-style: $font-style

@mixin flex-center($direction: row)
	display: flex
	justify-content: center
	align-items: center
	flex-direction: $direction

@mixin flex-space($space: between, $direction: row)
	display: flex
	flex-direction: $direction
	justify-content: space-+$space

@mixin offset($top: false,$right: false, $bottom: false, $left: false)
	position: absolute
	margin: auto
	@if $top
		top: $top+px
	@if $right
		right: $right+px
	@if $bottom
		bottom: $bottom+px
	@if $left
		left: $left+px

@mixin size($width: auto, $height: auto, $unit: px)
	@if $width == auto
		width: $width
	@else if $width == full
		width: 100%
	@else
		width: $width+$unit
	@if $height == auto
		height: $height
	@else if $height == full
		height: 100%
	@else
		height: $height+$unit


