$black-back: #222222
$black-text: #222222
$white-icon: #e8e8e8
$white-text: #e8e8e8
$pink-back: #F1E4E6
$pink-button: #F16D7F
$pink-border-button: #FF6A6A
$pink-text: #F16D7F
$pink-icon: #F16D7F
$pink-caption: #F8F3F4

$font-lato: Lato

$tablet-width: 1599px
$mobile-width: 767px
$mini-width: 374px
