.writeus
	width: 557px
	text-align: center

	&__title
		@include font(24,38,bold)
		text-transform: uppercase
		text-align: center
		color: $black

	&__desc
		@include font(18,30,400)
		text-transform: uppercase
		text-align: center
		color: $black

	&__form
		padding: 32px
		@include flex-center()